ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    width: 100%;
    justify-content: center;

  }

  li {
      background-color: #333;

  }

 li a {
      display: block;
      padding: 14px 16px;
      text-align: center;
      color: white;
      text-decoration: none; 
  }


  /* change the link color on hover */
  li  a:hover {
      background-color: #111;
  }

  /* change the color of the currently active link, not sure if this works yet */
  .active {
      background-color: #E7E9EB;
  }

 .content {
    flex: 1 0 auto;
 }

 html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    color: white;


  }


  .mainCanvas {
    box-sizing: content-box;
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

  }

  #title {
      color: white;
      font-size:1.5rem;
      height: auto;
      width: auto;
      letter-spacing: 0.6em;
      margin-top: 0.25%;
  
  }

 

  #subTitle {
      color: white;
      font-size: 1.5rem;
      margin-top: -2%;
  }


  #avatar {
      width: 11VW;
      height: auto;
   /*  height:200px;
    width:200px; */
    margin-top: 3.5%;
}


.portfolioContainer {
    width:80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}

.portfolioRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    width: auto;
}

.portfolioItem {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;
    border-style: double;
    border-color: white;
    height: 5rem;
    width: 5rem;
    margin: 1rem;

}

.copy {
    height: auto;
    width: 65%;
    color: white;
    text-align: center;
}

 .footer {
    flex-shrink: 0;
    display: flex; 
    justify-content: center; 
    background-color: #333;
    color: white;

 }

 a {
     text-decoration: none;
     color: lightgray;

 }

  footer p {
      float: left;
      display: block;
      padding: 10px;
  }

  #copyButton {
      height: 45px;
      margin-top: 1em;
      margin-bottom: 1em;
      border-radius: 30%;
  }


  @media only screen and (min-width: 768px)  {
    #title {
        font-size: 2.5rem;
    }
  
}

@media only screen and (min-width: 868px) {
  #title {
      font-size: 3rem;
    
  }

}

@media only screen and (min-width: 968px) {
    #title {
        font-size: 3.5rem;
      
    }
    .copy {
        width: 55%;
    }
  
  }

  @media only screen and (min-width: 1068px) {
    #title {
        font-size: 4rem;
      
    }
    .copy {
        width: 50%;
    }
  
  }

  @media only screen and (min-width: 1168px) {
    #title {
        font-size: 4.5rem;
    }
    .copy {
        width: 45%;
    }
      
    }

    @media only screen and (min-width: 1268px) {
        #title {
            font-size: 5rem;
          
        }
        .copy {
            width: 40%;
        }
        .portfolioContainer {
            width: 60%;
        }
        .portfolioItem {
            height: 9rem;
        }
  
  }


  /* Contact form Styling */
.formElements {
    margin: 1rem;
    font-size: 1.2rem;
}

input {
    font-size: 1.2rem;
}

input[type=text], select {
    width: 100%;
}

input[type=email] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 10rem;
    resize: none;
    font-size: 1.2rem;

}

#contactButton {
    margin: 1rem;
    background-color:#8FB4C3 ;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    font-size: 1rem;
}

#contactButton:hover {
    background-color: #495c63;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#buttonWrapper {
    text-align: center;

}